@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf');
}

html,
body {
    margin: 0;
    font-family: 'Rubik';
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
